Sat_Simulator/src/__pycache__/
Sat_Simulator/cache/
Sat_Simulator/schedule_cache/
Sat_Simulator/schedule_cache_serval_combined/
Sat_Simulator/log/
Sat_Simulator/logs/
Sat_Simulator/images.txt
Sat_Simulator/results/
Sat_Simulator/batch_scripts/
*.pyc
*.pyc
/satsim
Sat_Simulator/analytics_logs.txt
Sat_Simulator/image_logger.txt
Sat_Simulator/satellite_logs.txt
EarthSight/
*.pkl
CLAUDE.md
